        h1 {
            text-align: center;
            color: lawngreen;
            background: forestgreen;
        }
        p {
            text-align: center;
            color: darkgreen;
        }
        img{
            display: block;
            margin: 0px auto;
        }

        ul {
            font-size: 20 px;
        }

        a{
            text-align: center;
            color:forestgreen
        }

        .a{
            font-weight: bold;
            color: darkblue;
        }

        .b{
            font-weight: bold;
            color: gold;
        }

        .c{
            font-weight: bold;
            color: dimgray;
        }

        .d{
            font-weight: bold;
            color: royalblue;
        }