        h1 {
            text-align: center;
            color: lawngreen;
            background: forestgreen;
        }
        p {
            text-align: center;
            color: darkgreen;
        }
        img{
            display: block;
            margin: 0px auto;
        }

        ul {
            font-size: 20 px;
        }

        .dunkirk{
            font-weight: bold;
            color: darkblue;
        }

        .eternos{
            font-weight: bold;
            color: gold;
        }

        .dwd{
            font-weight: bold;
            color: dimgray;
        }

        .mp{
            font-weight: bold;
            color: royalblue;
        }